
.container{
    height:100%;
    min-height: 100vh;
    width:100%;
    background: linear-gradient(to right,#7ce3fd,#6ddff0);
    display:flex;
    justify-content: center;
    align-items: center;
}
.innerBox{
    min-width: 480px;
    height:fit-content;
    width: fit-content;
    background-color: #fff;
    padding:30px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap:30px;
}
.footer{
    display:flex;
    flex-direction:column;
    gap:20px;
}
.footer .error{
    font-weight: bold;
    font: 0.9rem;
    color: red;
    text-align: center;
}
.footer button{
    outline: none;
    border: none;
    background-color: #4eddf0;
    color: #fff;
    border-radius: 7px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 16px;
    width:100%;
    transition: 800px;
    cursor: pointer;
}
.footer button:hover{
    background-color: rgb(3, 220, 220);
}
.footer button:disabled{
    background-color: gray;
}
.footer p{
    font-weight: 700;
    color:black;
}